html,
body {
    background-image: url("../images/background/background-login.jpg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

 ::-webkit-input-placeholder {
    color: #9396c0;
    font-size: 16px;
}

 ::-webkit-scrollbar {
    display: none;
}

.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 1280px;
    height: 580px;
    pointer-events: none;
}

.w {
    width: 1200px;
    height: 100%;
    margin: 0px auto;
    position: relative;
}

#myform {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#myform #caption {
    position: absolute;
    top: -16%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "cooper";
    color: #6c6d9e;
    font-size: 32px;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

#myform .tips {
    box-sizing: border-box;
    padding: 5px 0px;
    font-family: "Cooper";
    color: #8a8cc4;
    font-size: 20px;
    text-align: center;
    float: left;
    color: #5960aa;
}

.inputBox {
    display: block;
    float: left;
    width: 180px;
    height: 30px;
    box-sizing: border-box;
    font-size: 20px;
    color: rgb(65, 75, 153, 0.7);
    padding: 5px 0px 5px 5px;
    background-color: transparent;
    outline-style: none;
    border: none;
    border-bottom: 2px #7f88d1 solid;
}

#myform .msg-box {
    width: 400px;
    height: 40px;
    margin-top: 20px;
}

#myform .msg-box div {
    float: left;
}

#myform label[for="username"] {
    margin-right: 8px;
    transform: translateX(3%);
}

.icon-snowman {
    background-image: url("../icons/snowman.png");
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.icon-snow {
    background-image: url("../icons/snow.png");
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.icon-help {
    background-image: url("../icons/help.png");
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}

.icon-help::before {
    display: none;
    position: absolute;
    left: 20px;
    top: -10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 4px 6px;
    border-color: #999595 transparent transparent #999595;
    content: "";
    z-index: 999;
}

.icon-help::after {
    display: none;
    position: absolute;
    width: 48px;
    line-height: 22px;
    padding: 0px 4px;
    font-size: 12px;
    height: 22px;
    left: 20px;
    top: -28px;
    content: '找回密码';
    /* color: #e7e6e6; */
    color: #b8b6e4;
    background-color: #999595;
    border-radius: 2px;
    z-index: 999;
}

.icon-help:hover::before {
    display: block;
}

.icon-help:hover::after {
    display: block;
}

#myform .form-bar {
    width: 400px;
    height: 40px;
    margin-top: 30px;
}

#myform .form-bar input {
    height: 50px;
    line-height: 50px;
    color: #4c5399;
    font-family: "Cooper";
    outline: none;
    background-color: #b8b5f133;
    border-radius: 15px;
    border: none;
    padding: 0px 10px;
    float: left;
    margin-left: 60px;
}

#myform .form-bar input:hover {
    background-color: #9092cb99;
}

#myform input[type="submit"] {
    font-size: 36px;
}

#myform input[value="register"] {
    font-size: 24px;
}